In [7]:
# Create a list of 5 fruits and print the third fruit.
fruits = ['pawpaw', 'mango', 'avocado', 'banana', 'apple']
print(fruits[2])

avocado

In [8]:
# Create a dictionary with keys: name, age. Print the value of age.
info = {
    'Name': 'Celine',
    'Age': 22 
}
print(info['Age'])

22

In [11]:
# Define a tuple with three numbers. Try modifying it. What happens?
numbers = (1,2,3)
numbers[2] = 7

TypeError: 'tuple' object does not support item assignment

In [12]:
# Create a set from a list with duplicate values.
numbers_list = [1,1,2,3,2,3]
numbers_set = set(numbers_list)
numbers_set

{1, 2, 3}

In [20]:
# Create a program that:
# Takes 5 user inputs and stores them in a list
# Converts the list into a set and prints the unique values

user_input = input('Enter five numbers(separate them with commas)')
input_list = [input for input in user_input.split(',')]
input_set = set(input_list)
print(f"{input_list}\n{input_set}")

['1', '2', '3', '2', '3', '1', '2']
{'2', '1', '3'}